nav {
    background-color: #011656;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headings {
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    margin-right: 40px;
}

.heading-item {
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 576px) {
    nav {
        display: grid;
        justify-content: center;
    }
}